<ion-header>
  <ion-toolbar>
    <ion-title>courses</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  
    
    <ion-card color="primary">
      <ion-card-header>
        <ion-card-title> COMPUTER SCIENCE </ion-card-title>
      </ion-card-header>
      <ion-card-content>

      </ion-card-content>

      <ion-card color="tertiary"  routerLink="/B.Sc.(Hons.) in CS&SE">
        <ion-card-header>
          <ion-card-title >B.Sc.(Hons.) in CS&SE  </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          360 Credit Hours<br>
          B.Sc. (Hons) CS & SE<br>
          NPR 9,98,875.00* (Approx)<br>
          English<br>
         </ion-card-content>
      </ion-card>

      <ion-card color="tertiary" routerLink="/B.Sc (Hons) CS&SE – Topup">
        <ion-card-header>
          <ion-card-title> B.Sc (Hons) CS&SE – Topup </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          120 Credit Hours<br>
          B.Sc. (Hons) CS&SE (Topup)<br>
          NRs 3,34,625.00* (Approx)<br>
          English<br>
  
        </ion-card-content>
      </ion-card>

    </ion-card>

   

    <ion-card color="primary">
      <ion-card-header>
        <ion-card-title>  BUSINESS STUDIES </ion-card-title>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>

      <ion-card color="tertiary" routerLink='/BA (Hons) Business Administration'>
        <ion-card-header>
          <ion-card-title> BA (Hons) Business Administration </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          360 Hour<br>
          BBA (Hons.) <br> 
          NPR 9,83,875.00* (Approx)  <br>
          English<br>

        </ion-card-content>
      </ion-card>

      <ion-card color="tertiary"routerLink="/BA (Hons) Business Administration (Topup) ">
        <ion-card-header>
          <ion-card-title> BA (Hons) Business Administration (Topup)  </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          120 Hours <br>
          B.A <br>
          NRs 3,34,625.00* (Approx)<br>
          English<br>
  
        </ion-card-content>
      </ion-card>

    </ion-card>

    <ion-card color="primary">
      <ion-card-header>
        <ion-card-title> CAMBRIDGE PROGRAMMES  </ion-card-title>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>

      <ion-card color="tertiary"routerLink="/A-level ">
        <ion-card-header>
          <ion-card-title> A level  </ion-card-title>
        </ion-card-header>
        <ion-card-content>

        </ion-card-content>
      </ion-card>

    </ion-card>
    

</ion-content>
  

