<ion-header>
  <ion-toolbar>
    <ion-title>courses</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title> COMPUTER SCIENCE </ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <ion-grid>
      
     </ion-grid>

    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title> BUSINESS STUDIES </ion-card-title>
    </ion-card-header>
    <ion-card-content>

      
     
    </ion-card-content>
</ion-card>

</ion-content>