<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Bachelors colleges
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  


  <ion-card color="tertiary" routerLink="/about-college">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>About College</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
    </ion-card-content>
  </ion-card> 




<ion-card color="tertiary" routerLink="/college-galary">
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>College Galary</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    
  </ion-card-content>
</ion-card>

<ion-card color="tertiary" routerLink="/facilities">
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>Facilities</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    
  </ion-card-content>
</ion-card>

<ion-card color="tertiary"routerLink="/contacts">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Contacts</ion-card-title>
    </ion-card-header>
    <ion-card-content>
     
    </ion-card-content>
</ion-card>

</ion-content>
