<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-img src="assets/img/collegefinderlogo.JPG" style="width: 25%; height: 25%; align-self: center;"></ion-img>
  <ion-card id="log" style="margin-bottom: 70%;">
  <ion-list>
    <ion-item>
      <ion-input name="email" type="email" placeholder="Email Address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input name="password" type="password" placeholder="Password" type="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button style="width: 100%;" class="login" routerLink= "/home">Login</ion-button><br><br>
  <ion-row>
    <div style="width: 100%;">
     <ion-label style="margin-left: 40%;">Don't have an account?</ion-label> <a routerLink="/register">Sign up</a>
    </div>
  </ion-row>
</ion-card>

