<ion-list style="background-color: #514714; height:100%;padding-top: 15%;">
  <ion-img  src="assets/img/collegefinderlogo.JPG" style="width: 45%; height: 45%; margin-left: 25%;"></ion-img>
    
 
   <div style="margin-left: 35px;" > 
      <u><h4><b><ion-input name="email" type="email" placeholder="Email Address"></ion-input></b></h4></u>
  </div>
  <div style="margin-left: 35px;">
     <u> <h4><b><ion-input name="password" type="password" placeholder="Password" type="password"></ion-input></b></h4></u><br><br>
  </div>


  <ion-button style="width: 95%; padding-left: 6%;" class="login" routerLink= "">Login</ion-button><br><br>

     <ion-label style="margin-left: 22%;">Don't have an account?</ion-label> <a routerLink="/register">Sign up</a>
  

</ion-list>