<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
    About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-label style="font-style:inherit;">Who we are??</ion-label><br>
  <ion-label style="font-size: 12px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">There are many colleges and university nowadays to provide the good education for many
    students who choose career path want to excel their future .so, for higher study students
    always looking for good college and University as their prefer so choosing it is not an easy
    tasks for most of the student because they have to be wise at this time to choose right one
    which would help in crating foundation in their career so to help the student this idea came up
    to develop mobile application on it to help them to choose right colleges as their wish.
  </ion-label>
  <br>
  <br>
  <ion-label style="font-style:inherit;">Proposed Solution</ion-label><br>
  <ion-label style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 12px;">
    Student find difficulty in finding the best colleges as also to compare them the college finder
app will definitely help them to solve each and every problem they have faced the student
can view the goo colleges around the city with their details like college information,
acceptance grade, scholarships, surrounding images of the college and with their location and
also course reviews and college reviews of individual colleges so, the student can easily
compare the colleges as they want to study, find nearby college view famous reviewed
college by student they want to study which help them find the best colleges as they wish to
study without making any wrong decision and make them easy to know the information of
different colleges by staying home or anywhere and save the time that they spend on finding
resources of college via internet.


  </ion-label>

</ion-content>


