<ion-header>
 
  <ion-buttons slot="start"  style="background-color: #514714;">
    <ion-back-button defaultHref="/home"></ion-back-button>
  </ion-buttons>
</ion-header>
<ion-content>
  <ion-item>
    <ion-icon name="ribbon" slot="start"></ion-icon>
  <ion-label>Invite your friends and earn rewards</ion-label>
  </ion-item>
  <ion-item>
    <ion-label><b>Allow Push Notification</b></ion-label>
    <ion-toggle slot="end" disabled checked ></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-icon name="star-half" slot="start"></ion-icon>
    <ion-label >Rate Us</ion-label>
  </ion-item>
  <ion-item routerLink="/about">
    <ion-icon name="people" slot="start"></ion-icon>
    <ion-label>Aboutus</ion-label>
    
  </ion-item>
  <ion-item routerLink="/termsof-condition">
    <ion-icon name="information-circle-outline"></ion-icon>
    <ion-label>Terms of use</ion-label>
    
  </ion-item>
  <ion-item routerLink="/privacy">
    <ion-icon name="information-circle"></ion-icon>
    <ion-label>Privacy policy</ion-label>
    
  </ion-item>
  
 
  <ion-item (click)="logout1()">
    <ion-icon name="exit" slot="start"></ion-icon>
    <ion-label>
     SignOut
    </ion-label>
  </ion-item>

</ion-content>