<ion-header>
  <ion-toolbar>
    <ion-title>Facilities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Recreation Area </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      The recreation center of the College houses indoor games-activities such as table-tennis, chess, foosball etc. 
      that can provide the students with the opportunity for necessary physical activities during the break sessions as a part of recreational activities
    </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Learning Area </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    The student learning hub is designed to provide the students space for their leisurely activities within the College hours.
    This is the room to go to and sit down over a cup of tea or coffee and work independently or in small groups during the independent activity or assignments.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title> Audio Visual Room </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    The audio-video presentation room is equipped with the provisions for recording and playback of practice sessions of presentations so as to provide students with insights into improving one’s delivery, diction and content before the actual presentation in the classrooms.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title> GD Rooms </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    The group discussion rooms in each floor provides the space for the planning, discussion and implementation phase of group projects, assignments and their close proximity to the faculty rooms ensures that faculty supervision and guidance is at hand whenever required.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title> Cafeteria </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Adjacent to the learning hub area at the top floor of the building, is the Cafeteria which caters to the gastronomic needs of the students, faculty and staff by serving healthy, fresh and mouth-watering range of dishes.
  </ion-card-content>
</ion-card>





  

</ion-content>
