<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      About College
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle> </ion-card-subtitle>
        <ion-card-title> Introduction </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Patan College for Professional Studies (PCPS) is a constituent member of LBEF Group of Institutions (Lord Buddha Education Foundation). LBEF has a long standing history in the field of education and academics in Nepal, 
        being established in 1998 as the first IT College in Nepal. 
        More than 7000 students have over the years graduated from LBEF Group of Institutions and today, have established their career as bankers, IT experts, entrepreneurs, managers, leaders in their chosen area of work.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle> </ion-card-subtitle>
        <ion-card-title>  Fees </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Patan College for Professional Studies (PCPS) total cost fees to study is at around 10 lakhs to around 11 lakhs of whole three years
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle> </ion-card-subtitle>
        <ion-card-title> Acceptance Grade </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
        
      
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle> </ion-card-subtitle>
        <ion-card-title> Schlorships </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        The College offers financial assistance for academically sound but financially challenged students to support you through your studies. 
        Scholarships provided will be applied on tuition fee category. Scholarships will be provided to 10% of the annual intake of students as per the directives of the government. 
        To apply and determine if you are eligible, you have to fill up an application form for scholarships and funding and submit it to the Administrative office at the College.

        This Scholarship is awarded based on the percentage achieved in the High-School Board examinations or equivalent examination. The scholarship scheme is as follows:
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle> </ion-card-subtitle>
        <ion-card-title> Intake </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-card  class="firstintake">
          <ion-card-header>
            <ion-card-subtitle>Admissions Window (April-May) </ion-card-subtitle>
            <ion-card-title> JUNE INTAKE  </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Last date to Apply: 7th June 2019
            Class Start Date: 10th June 2019
          </ion-card-content>
        </ion-card>

        <ion-card color="tertiary" class="secondintake">
          <ion-card-header>
            <ion-card-subtitle>Admissions Window (July-September) </ion-card-subtitle>
            <ion-card-title> OCTOBER INTAKE  </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Last date to Apply: 19th October 2019
            Class Start Date: 22nd October 2019
          </ion-card-content>
        </ion-card>

        <ion-card color="tertiary" class="third">
          <ion-card-header>
            <ion-card-subtitle>Admissions Window (November-January) </ion-card-subtitle>
            <ion-card-title> JAN-FEB INTAKE  </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Last date to Apply: 20 January 2020
            Class Start Date: 3rd February 2020
          </ion-card-content>
        </ion-card>




      </ion-card-content>
      

    </ion-card> 

</ion-content>
