<ion-header>
  <ion-toolbar>
    <ion-title>
      Plustwo colleges
    </ion-title>
    <ion-buttons slot="end">
      
    </ion-buttons>
    
  </ion-toolbar>
 
</ion-header>
  <ion-content padding>
    <ion-card *ngFor="let data of datas">
      <ion-card-header>
        <ion-img [src]="data.image"></ion-img>
        <ion-card-title>{{data.Name}}</ion-card-title>
       
      </ion-card-header>
      <ion-card-content>
        <ion-button (click)="openDetail(data)" >view details</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-content>