<ion-header>
  <ion-toolbar>
    <ion-title>B.Sc (Hons) CS&SE – Topup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title> B.Sc (Hons) CS&SE – Topup </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      120 Credit Hours<br>
      B.Sc. (Hons) CS&SE (Topup)<br>
      NRs 3,34,625.00* (Approx)<br>
      English<br>
      <br>
      Computer Science is at the core of modern technology and at the heart of a number of specialist technology fields. 
      This course is aimed at providing a foundation as well as a platform for specialist study in the second and third stages, during which you will learn in depth, the principles and practices of both disciplines computer science and software engineering.<br><br>

      The disciplines of Computer Science and Software Engineering are central to many of today’s commercial and industrial activities, as well as providing a diverse and rapidly developing field for personal study. 
      This course is designed to enable you to analyze and build a range of applications. Emphasis is on the entire software development lifecycle, and the production of high-quality software systems using object-oriented (OO) methods and tools.
      You’ll explore the entire systems development life-cycle, as well as comprehensively covering OO methods.<br><br>

      The final-stage project enables you to take your specialist work to greater depth, leading to the possibility of future research. 
      The emphasis of the course is to provide vocationally skilled programmers and software engineers who have both a general overview of computer science and software engineering, with a more detailed knowledge of fields like internet programming, database applications, artificial intelligence applications or networking.<br><br>

    </ion-card-content>
  </ion-card>

</ion-content>
