<ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Discover Colleges
    </ion-title>
  </ion-toolbar>
  <ion-searchbar animated showCancelButton="focus" class="searchbar"></ion-searchbar>
 </ion-header>
 <ion-content>
  <!-- CREATE THE BASIC CARD TO DISPLAY THE SINGLE ARTICLE INCLUDING IMAGE-->
  <ion-header>
    <ion-title class="collegeone">Colleges for+2</ion-title>
  </ion-header>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-img src="assets/img/nist.jpg"> </ion-img>
            <ion-card-title class ="textCollege">Nist College</ion-card-title>
        
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-header>
    <ion-title class="collegeone">Colleges for Bachelors</ion-title>
  </ion-header>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-img src="assets/img/pcps.jpg"> </ion-img>
            <ion-card-title class ="textCollege">Patan College</ion-card-title>
        
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-header>
    <ion-title class="collegeone">Colleges for Masters</ion-title>
  </ion-header>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-img src="assets/img/tu.jpg"> </ion-img>
            <ion-card-title class ="textCollege">Tribhuwan University</ion-card-title>
        
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
   
  
 </ion-content>
 
