.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.toolbar{
  height: 50px;
}
.searchbar{
  width:290px;
  margin-left: 50px;
}
.collegeone{
  height:50px;
  padding-left:0px;
}
.textCollege{
  font-size: 14px;
}

